#header {
  background-color: #ead5bf;
}

#about {
  text-align: center;
  width:100%;
  font-family: 'Jost', sans-serif;
  background: linear-gradient(to bottom, #ead5bf 37%, #ffcc66 142%);
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 0;
  margin-bottom: 0;

}

hr {
  margin-top: 0;
  margin-bottom: 0;
}

.page {
    background-color: #ead5bf;
}

.container {
  font-family: 'Roboto Condensed', sans-serif;
  width:75%;
  height:75%;
  background-color: #faf0d4;
  margin:0 auto;
  padding:30px;
  font-family:;
}
